{{- define "main" -}}

  <section id="chain-vision" class="section-cont">
    <div class="content-box">
      <div>
        <h1>ABlockChain公链愿景</h1>
        <h2>⾼效⽀付⽹络</h2>
        <p>成为区块链技术创新和社会公益的桥梁，为全球⽤⼾和机构提供价值与信任⽀撑。</p>
        <h2>低成本交易</h2>
        <p>合理的Gas费机制，降低使⽤⻔槛。</p>
        <h2>公益机制</h2>
        <p>Gas费⽤15%-30%⾃动划归慈善基⾦会，⽤于全球公益项⽬。</p>
        <h2>可扩展⽣态</h2>
        <p>兼容以太坊EVM和ERC标准，促进DApp快速开发。</p>
      </div>
      <div>
        <img src="/image/tech/chain_vision.png">
      </div>
    </div>
  </section>

  {{- partial "technology.html" . -}}

  <section id="newton" class="section-cont activities">
    <div class="content-box">
      <div>
        <h1>ABlockchain公链简介</h1>
        <p>ABlockchain将重点关注和提升区块链的可扩展性、性能和隐私控制，⽀持灵活的数据结构，事务处理机制，以及完善的访问权限控制。采用6-32个字符作为账户标识，其中5个字符以下的账户是预留账户。ABlockchain采⽤主链、⼦链设计方案，主链负责账户管理、通证管理、⼦链管理、⼈机⽹络治理等，⼦链支撑具体业务，⽀支持多种共识机制和数据结构，主链与⼦链之间，⼦链与⼦链之间可以进⾏价值交换。第三方在锁定和⽀付⼀定数量牛顿通证并通过审核后，可创建新的⼦链，⼦链可发行新的通证。</p>
      </div>
      <div>
        <img src="/image/tech/chain_desc.png">
      </div>
    </div>
  </section>

  <section id="ab-work" class="section-cont">
    <div class="content-box">
        <h1>AB在基金会中的运转</h1>
        <div>
            <img src="/image/icon/ab_get.png">
            <h2>通过各大交易所获得AB</h2>
            <p>AB具有明确的实用价值或应用场景，如支付手段、治理权利、激励机制等。通过燃烧机制（burning）、质押奖励、流动性挖矿等方式，代币能够持续吸引用户并增加需求。AB所在的项目能够推动区块链技术的发展，参与主流区块链生态（如以太坊、Polkadot、Solana等）且拥有独特的创新价值。</p>
        </div>
        <div>
            <img src="/image/icon/ab_dapp.png">
            <h2>AB基金会从DApp中提取收益</h2>
            <p>ABlockchain中的DApp允许用户使用平台的原生代币来支付Gas Fee，而不仅仅是区块链的原生代币（如ETH、BNB等）。平台可以通过其原生代币实现Gas Fee的支付，并且可能会提供优惠或返还策略。</p>
        </div>
        <div>
            <img src="/image/icon/ab_pool.png">
            <h2>ABPool中收集的AB会用于社区公益活动</h2>
            <p>ABlockchain会通过奖励机制，向经常使用的用户提供Gas费用的折扣或补偿，或公布公益活动计划，为全球公益事业做出杰出贡献。在这里ABlockchain将全球所有公益事业参与者联系起来，为ABlockChain技术发展和⽣态布局、慈善资⾦使⽤评估、社会责任和全球影响⼒、国际合作资源拓展等⽅⾯提供专业⽀持。</p>
        </div>
        <div>
            <img src="/image/icon/ab_report.png">
            <h2>AB基金释放的具体时间与用途将会在未来公布</h2>
            <p>AB基金会秉承公开和透明地管理资金、项目和活动的原则。公众和捐赠者应该能够清晰了解资金的来源、流向、用途及项目执行情况。所有的捐赠活动、资助项目和支持决策应基于明确的标准和公正的评估体系。在选择受益群体时，确保资源分配不偏向任何特定的个人、群体或地域。</p>
        </div>
    </div>
  </section>
  <section id="ab-wallet" class="section-cont">
    <div class="content-box">
        <h1>ABlockchain数字钱包</h1>
        <div>
            <img src="/image/icon/ab_chain_node.png">
            <h2>高速稳定的全球加速节点</h2>
            <p>全球加速节点通过分布式的计算资源，加速了交易的验证和传播过程，减少了网络延迟，使得区块链网络能够更快速地处理大量的交易请求。加速节点会分布在全球不同的地理位置，通过优化数据传输路径，缩短节点之间的通信延迟，提高区块链网络的整体响应速度，尤其是在跨境交易中具有显著效果。</p>
        </div>
        <div>
            <img src="/image/icon/ab_chain_safe.png">
            <h2>密钥托管完全的安全保护</h2>
            <p>使用加密通道（如TLS/SSL）来安全地传输对称密钥。将密钥或密钥管理数据加密存储，并且仅允许经过授权的用户或应用程序访问。通过密钥安全保护机制，可以大大降低密钥泄露、盗取或滥用的风险，确保加密系统的安全性。可长时间存储私钥或其他敏感密钥信息，减少被黑客攻击的风险。</p>
        </div>
        <div>
            <img src="/image/icon/ab_chain_crypto.png">
            <h2>高端区块链加密技术</h2>
            <p>采⽤主链、⼦链设计⽅案，主链负责账户管理、通证管理、⼦链管理、⼈机⽹络治理等，⼦链支撑具体业务，⽀持多种共识机制和数据结构，主链与⼦链之间，子链与⼦链之间可以进⾏价值交换。第三⽅在锁定和支付⼀定数量⽜牛顿通证并通过审核后，可创建新的子链，⼦链可发⾏新的通证。</p>
        </div>
        <div>
            <img src="/image/icon/ab_chain_dapp.png">
            <h2>从多元化DApp中体验链上投资生态</h2>
            <p>不仅限于传统的借贷、存款和交易功能，还引入了许多创新性的金融产品，如去中心化交易所（DEX）、流动性挖矿、收益农场、衍生品交易、稳定币、保险、预测市场等。允许开发者根据需求设计定制化的金融工具和产品，用户可以根据个人偏好选择最适合的金融服务。</p>
        </div>
    </div>
  </section>

  <section class="section-cont tech-item">
    <div class="content-box">
      <div>
        <h1>AB插件钱包</h1>
        <p>基于浏览器的拓展插件，小巧美观，便捷易用，全球加速网络，确保转账与提现迅速到账，化繁为简的操作流程，使用体验轻便、快捷且高效，从DApp生态中赚取的AB将释放到ABPool用于公益活动。</p>
      </div>
      <div>
        <img src="/image/tech/ab_plugin.png">
      </div>
    </div>
  </section>

  <section class="section-cont tech-item">
    <div class="content-box">
      <div>
        <h1>ABExplorer</h1>
        <p>轻松将您的钱包连接到AB并轻松管理您的帐户，掌握最新的实时交易数据，确保用户随时掌握最新信息，直接与智能合约交互并验证，为DApp提供强大平台，提供API集成，无缝访问区块链数据并增强项目的功能。</p>
      </div>
      <div>
        <img src="/image/tech/ab_explorer.png">
      </div>
    </div>
  </section>

  <section class="section-cont tech-item">
    <div class="content-box">
      <div>
        <h1>ABBridge</h1>
        <p>通过CCIP连通上百个区块链网络，支持复杂交互与合约，采用反欺诈网络、监控恶意行为，为用户提供安全保障，执行智能合约调用、通证兑换、借贷、权益质押等功能，链下报告协议OCR 2.0提高通用性，打造多元跨链生态。</p>
      </div>
      <div>
        <img src="/image/tech/ab_bridge.png">
      </div>
    </div>
  </section>

  <section class="section-cont tech-item">
    <div class="content-box">
      <div>
        <h1>NFTViewer</h1>
        <p>通过运用NewChain高端技术开发迅速产生区块，交易数据清晰可见，把握市场动向、发掘超额收益机会，提供链上实时的交易数据，完美追踪到每笔交易，简洁高效的NFT数据搜索查询服务优化管理、提高效率</p>
      </div>
      <div>
        <img src="/image/tech/nft_viewer.png">
      </div>
    </div>
  </section>

  <section id="public-chain" class="section-cont">
    <h1>公益与技术结合</h1>
    <div class="content-box">
      <div>
        <h2>创新Gas费公益模式</h2>
        <p>15%-30%⾃动⽤于慈善。</p>
      </div>
      <div>
        <h2>透明资⾦管理</h2>
        <p>区块链记录全过程。</p>
      </div>
      <div>
        <h2>全球慈善合作</h2>
        <p>⽀持多领域公益项⽬。</p>
      </div>
      <div>
        <h2>社会责任践⾏</h2>
        <p>技术赋能社会发展。</p>
      </div>
    </div>
  </section>

  <section id="current-progress" class="section-cont">
    <h1>当前进展</h1>
    <div class="content-box">
      <div>
        <h2>国际战略合作</h2>
        <p>已获得多个国家元⾸的战略性⽀持，并与主权国家（暂时保密）达成央⾏数字稳定币发⾏协议。</p>
      </div>
      <div>
        <h2>多国试点落地</h2>
        <p>在多个国家开展实际应⽤试点项⽬，涵盖⾦融、慈善等多个领域，推动区块链技术的实际应⽤。</p>
      </div>
      <div>
        <h2>技术⽣态建设</h2>
        <p>成功举办国际性ABlockChain技术研讨会，建⽴全球化技术交流平台，促进跨境技术合作与创新。</p>
      </div>
    </div>
  </section>

{{- end -}}