  <section id="committee" class="section-cont">
    <h1>顾问委员会</h1>
    <p class="pb2">ABlockChain基⾦会汇聚了多位国际知名政治家、学者、⾏业专家和公众⼈物担任顾问;为基⾦会的发展和战略规划提供专业意⻅和建议:</p>
    <div class="content-box">
      <div>
        <img src="/image/committee/1.png">
        <p>唐纳德·约翰·特朗普</p>
      </div>
      <div>
        <img src="/image/committee/2.png">
        <p>基尔·斯塔默</p>
      </div>
      <div>
        <img src="/image/committee/3.png">
        <p>埃马纽埃尔·马克龙</p>
      </div>
      <div>
        <img src="/image/committee/4.png">
        <p>费利佩六世</p>
      </div>
      <div>
        <img src="/image/committee/5.png">
        <p>玛格丽特二世</p>
      </div>
      <div>
        <img src="/image/committee/6.png">
        <p>埃马纽埃尔·马克龙</p>
      </div>
      <div>
        <img src="/image/committee/7.png">
        <p>卡特里娜·萨克拉罗普卢</p>
      </div>
      <div>
        <img src="/image/committee/8.png">
        <p>哈拉尔五世</p>
      </div>
      <div>
        <img src="/image/committee/9.png">
        <p>牛顿</p>
      </div>
      <div>
        <img src="/image/committee/10.png">
        <p>爱因斯坦</p>
      </div>
      <div>
        <img src="/image/committee/11.png">
        <p>伽利略</p>
      </div>
      <div>
        <img src="/image/committee/12.png">
        <p>尼古拉·哥白尼</p>
      </div>
      <p>顾问委员会将为ABlockChain技术发展和⽣态布局、慈善资⾦使⽤评估、社会责任和全球影响⼒、国际合作资源拓展等⽅⾯提供专业⽀持。</p>
    </div>
  </section>