  <section id="technology" class="section-cont">
    <h1>ABlockChain技术特点</h1>
    <div class="content-box">
      <div>
        <img src="/image/tech/1.png">
        <h2>⾼效⽀付</h2>
        <p>每1秒⽣成⼀个区块，提供流畅交易体验。</p>
      </div>
      <div>
        <img src="/image/tech/2.png">
        <h2>低成本</h2>
        <p>合理Gas费机制，降低使⽤⻔槛。</p>
      </div>
      <div>
        <img src="/image/tech/3.png">
        <h2>兼容性</h2>
        <p>完全兼容以太坊EVM和ERC标准。</p>
      </div>
      <div>
        <img src="/image/tech/4.png">
        <h2>动态治理</h2>
        <p>采⽤POA共识机制，21个超级节点保障⽹络运⾏。</p>
      </div>
    </div>
  </section>