<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {{with .Description}}<meta name="description" content="{{.}}">{{end}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css">
    <script src= "https://code.jquery.com/jquery-3.7.1.min.js" ></script>
    {{$title := default site.Title .Title}}
    {{with $title}}<title>{{.}}</title>{{end}}
  </head>
  <body class="home">
    {{- partial "header.html" . -}}
    <section id="intro">
      {{with .Param "content"}}<h1>{{.}}</h1>{{end}}
      {{with .Param "subcontent"}}<h1>{{.}}</h1>{{end}}
    </section>
    {{- partial "vision.html" . -}}
    {{- partial "committee.html" . -}}
    {{- partial "technology.html" . -}}
    
    {{- partial "footer.html" . -}}
    
  </body>
</html>
